<!DOCTYPE html>
%html
  %head
    %title StacheCache
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default{role: "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "#"} Mustache Man Brewing 
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Beers
              %b.caret
            %ul.dropdown-menu
              - @beers.each do | beer |
                %li
                  %a{href: "#"}= beer.name
        -# %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#"} About Us


    = yield

